{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <p class="buttons">
        <a href="{{url "Posts.New"}}">Create New Post</a>
      </p>
      <h1>Post list</h1>
      {{if .posts}}
      <div>
        {{range .posts}}
        <div>
          <a href="{{url "Posts.View" .PostId}}">{{.Title}}</a>
          <div style="float: right">
            <span class="upvote" data-id="{{.PostId}}">upvote</span>
            <span class="downvote" data-id="{{.PostId}}">downvote</span>
          </div>
        </div>
        {{end}}
      </div>
      {{end}}

    </div>
  </div>
</header>

{{template "footer.html" .}}