{{set . "title" "Create New Post"}}
{{template "header.html" .}}

<div class="container new-post">
  <h1>Create New Post:</h1>

  <form action="{{url "Posts.Save"}}" method="POST">
    {{with $field := field "post.Title" .}}
      <div class="edit-field">
        <div class="field-name">Post Title <span>(minimum 10 characters *)</span></div> 
        <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}">
        <span class="error">{{$field.Error}}</span>
      </div>
    {{end}}
    {{with $field := field "post.Content" .}}
      <div class="edit-field">
        <div class="field-name">Post Content <span>(minimum 20 characters *)</span></div>
        <textarea type="text" name="{{$field.Name}}" rows="6" cols="50">{{$field.Flash}}</textarea>
        <span class="error">{{$field.Error}}</span>
      </div>
    {{end}}
    <div class="create-btns">
      <input class="btn btn-primary btn-reddit" type="submit" value="Create"> 
      <a class="btn btn-primary btn-reddit" href="{{url "App.Index"}}">Cancel</a>
    </div>
  </form>
</div>

{{template "footer.html" .}}

